
@{
    ViewData["Title"] = "选择角色";
}
<environment>
    <link href="~/scripts/ztree/skin.css" rel="stylesheet" />
</environment>
<div id="page-body">
    <div id="page-body-inner">
        <ul id="role_tree" class="ztree"></ul>
    </div>
</div>

@section Scripts
{
    <environment>
        <script src="~/scripts/ztree/jquery.ztree.all.js"></script>
        <script src="~/scripts/ztree/jquery.ztree.exhide.js"></script>
    </environment>
    <script type="text/javascript">
        var loadingIcoUrl = '/Content/Scripts/ztree/img/loading.gif';
        var seetings = {
            view: {
                nameIsHTML: true,
            },
            callback: {
                beforeExpand: BeforeExpand
            },
            check: {
                enable: true,
                chkboxType: { "Y": "", "N": "" }
            },
            edit: {
                enable: true,
                showRemoveBtn: false,
                showRenameBtn: false
            }
        };
        var allNodes = [];
        var allRoles = {};
        var allRolesObj = new Object();
        var roleNames = '';
        var selectRole = new Array();
        var hideRoles = new Array();
        var initSelectRoles = new Array();
        $(function () {
            InitData();
            if (parent.RemoveRoles) {
                hideRoles = parent.RemoveRoles();
            }
            if (parent.SelectRoles) {
                initSelectRoles = parent.SelectRoles();
            }
        });

        //隐藏节点
        function HideNodes(hideRoles) {
            if (!hideRoles) {
                return;
            }
            var treeObj = $.fn.zTree.getZTreeObj("role_tree");
            var hideParentNodes = new Object();
            for (var ha in hideRoles) {
                var nowHaSysNo = hideRoles[ha];
                var nodes = treeObj.getNodesByParam("id", nowHaSysNo);
                for (var n in nodes) {
                    var nowNode = nodes[n];
                    var parentNode = nowNode.getParentNode();
                    treeObj.hideNode(nowNode);
                    if (parentNode != null) {
                        hideParentNodes[parentNode.id] = parentNode;
                        parentNode.halfCheck = true;
                    }
                }
            }
            for (var pn in hideParentNodes) {
                var pnode = hideParentNodes[pn];
                do {
                    var checkStatus = pnode.getCheckStatus();
                    if (checkStatus && !checkStatus.half) {
                        pnode.halfCheck = true;
                    }
                    var childNodes = pnode.children;
                    var hide = true;
                    for (var pcn in childNodes) {
                        var pchnode = childNodes[pcn];
                        hide = hide && pchnode.isHidden;
                        if (!hide) {
                            break;
                        }
                    }
                    if (hide) {
                        treeObj.hideNode(pnode);
                    }
                    pnode = pnode.getParentNode();
                } while (pnode != null);
            }
        }

        //选择节点
        function SelectNodes(selectedRoles) {
            if (!selectedRoles) {
                return;
            }
            for (var sa in selectedRoles) {
                var nowSelectSysNo = initSelectRoles[sa];
                var nodes = treeObj.getNodesByParam("id", nowSelectSysNo);
                for (var n in nodes) {
                    var nowNode = nodes[n];
                    treeObj.checkNode(nowNode, true, true, true);
                }
            }
        }

        //初始化数据
        function InitData() {
            $.post('@Url.Action("GetRoleValue", "Sys")', function (res) {
                if (!res) {
                    return;
                }
                if (res.AllRole) {
                    allRoles = JSON.parse(res.AllRole);
                    for (var r in allRoles) {
                        allRolesObj[r] = allRoles[r];
                    }
                }
                if (res.AllNodes) {
                    allNodes = JSON.parse(res.AllNodes);
                    InitAllRoleTree();
                    HideNodes(hideRoles);
                    SelectNodes(initSelectRoles);
                }
            });
        }

        //初始化所有分类树控件
        function InitAllRoleTree() {
            $.fn.zTree.init($("#role_tree"), seetings, allNodes);
        }

        //确认选择方法
        function ConfirmSelect() {
            roleNames = '';
            selectRole = new Array();
            var checkNodes = $.fn.zTree.getZTreeObj("role_tree").getCheckedNodes(true);
            for (var i = 0; i < checkNodes.length; i++) {
                var nowNode = checkNodes[i];
                var nowRole = allRolesObj[nowNode.id];
                selectRole.push(nowRole);
            }
            DialogOpener().RoleMultipleSelectCallback(selectRole, '');
            return true;
        }

        //对话框事件
        function ArtEvent() {
            return ConfirmSelect();
        }

        //展开加载数据
        function BeforeExpand(treeId, treeNode) {
            if (!treeNode || treeNode.loadData) {
                return true;
            }
            var zTree = $.fn.zTree.getZTreeObj(treeId);
            treeNode.icon = loadingIcoUrl;
            zTree.updateNode(treeNode);
            $.post('@Url.Action("LoadChildRoles","Sys")', { parentId: treeNode.id }, function (res) {
                if (!res) {
                    return;
                }
                var childNodes = JSON.parse(res.ChildNodes);
                zTree.addNodes(treeNode, -1, childNodes);
                treeNode.loadData = true;
                treeNode.icon = "";
                zTree.updateNode(treeNode);
                zTree.expandNode(treeNode, true);
                var childRoles = JSON.parse(res.RoleData);
                for (var c in childRoles) {
                    allRolesObj[c] = childRoles[c];
                }
            });
            return false;
        }
    </script>
}